body {
  background-color: #f6f6f6;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  /* Web width and height */
  --div-width: 535px;
  --image-height: 144px;

  /* Smallest mobile device width and height */
  --sm-mobile-div-width: 290px;
  --sm-mobile-image-height: 82px;

  /* All other mobile device width and height */
  --mobile-div-width: 335px;
  --mobile-image-height: 95px;

  font-size: 1rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.master-form {
  margin-bottom: 20px;
}

.content-div {
  margin: 10px auto;
  width: var(--div-width);
  max-width: var(--div-width);
  min-width: var(--div-width);
  background: white;
  border-radius: 10px;
  border-style: solid;
  border-color: #DDDDDD;
  border-width: thin;
  padding-left: 20px;
  padding-right: 20px;
  overflow: hidden;
}

.invalid-input-div {
  margin: 10px auto;
  width: var(--div-width);
  max-width: var(--div-width);
  min-width: var(--div-width);
  background: white;
  border-radius: 10px;
  border-style: solid;
  border-color: rgb(231, 0, 0);
  border-width: thin;
  padding-left: 20px;
  padding-right: 20px;
  overflow: hidden;
}

.footer-div {
  width: 575px;
  margin-left: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.options-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px auto;
}

.check-options-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px auto;
}

.graph-div {
  margin: 10px auto;
  width: var(--sm-mobile-div-width);
  max-width: var(--sm-mobile-div-width);
  min-width: var(--sm-mobile-div-width);
}

.normal-button {
  height: 35px;
  width: 80px;
  color: #cea500;
  background-color: white;
  margin-right: 10px;
  border-style: none;
  border-radius: 3px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.342);
}

.normal-button:hover {
  cursor: pointer;
  background-image: linear-gradient(rgb(0 0 0/2%) 0 0);
}

.clear-form-button {
  height: 35px;
  width: 80px;
  color: #cea500;
  background-color: #f6f6f6;
  border-style: none;
  border-radius: 3px;
  margin-left: auto;
}

.clear-form-button:hover {
  cursor: pointer;
  background-image: linear-gradient(rgb(0 0 0/2%) 0 0);
}

.remove-button {
  display: none;
}

.image-div {
  margin: 10px auto;
  background: white;
  width: var(--div-width);
  height: var(--image-height);
  border-radius: 5px;
  border-style: solid;
  border-color: #DDDDDD;
  border-width: thin;
  background-image: url("./files/banner.png");
  background-size: 100% auto;
  padding-left: 20px;
  padding-right: 20px;
}

.error-p {
  font-size: smaller;
  color: red;
}

.page-p {
  font-size: 0.75rem;
}

.error-span {
  font-size: smaller;
  color: red;
}

.checkbox-div {
  padding: 0
}

circle {
  opacity: 1;
}

text {
  fill: black;
  font-size: 8px;
  text-anchor: middle;
}

input[type=radio] {
  min-width: 1rem;
  min-height: 1rem;
}

input[type=radio]:hover {
  cursor: pointer;
}

input[type=text] {
  width: 200px;
  padding: 5px;
  border: none;
  border-bottom: 1px solid #dddddd;
}

input[type=text]:focus {
  outline: none;
}

input[type=checkbox] {
  min-width: 1rem;
  min-height: 1rem;
}

input[type=checkbox]:hover {
  cursor: pointer;
}

label {
  padding-right: 20px;
  margin-left: 5px;
}

label:hover {
  cursor: pointer;
}

.horiz-div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

hr {
  margin-left: -20px;
  width: 600px;
  border-top: 1px #dddddd;
}

.orange-banner-sm {
  background-color: #ffcc00;
  height: 10px;
  margin-left: -20px;
  width: 600px;
}

h1 {
  margin-top: 10px;
  font-size: x-large;
}

h2 {
  font-size: large;
}

.orange-banner-lg {
  background-color: #ffcc00;
  height: 50px;
  margin-left: -20px;
  width: 600px;
}

.space-div {
  display: flex;
  flex-direction: column;
}

.clear-form-div {
  position: fixed;
  left: 50%;
  top: 50%;
  margin: 10px auto;
  width: calc(var(--div-width) / 2);
  max-width: calc(var(--div-width) / 2);
  min-width: calc(var(--div-width) / 2);
  background: white;
  border-radius: 10px;
  border-style: solid;
  border-color: #DDDDDD;
  border-width: thin;
  padding-left: 20px;
  padding-right: 20px;
}

.dim-background-div {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0.5;
  margin-bottom: 20px;
}

.lines-div {
  position: relative;
  width: var(--div-width);
  max-width: var(--div-width);
  min-width: var(--div-width);
  height: 2260px;
  background-image: url("./files/lines_desktop.png");
  background-size: 100% auto;
  overflow: auto;
}

.map_label_div {
  width: fit-content;
  height: fit-content;
  padding: 5px;
  border-radius: 8px;
  border-style: solid;
  border-style: none;
  box-shadow: 1px 4px 5px 1px rgb(0 0 0 / 20%);
  font-weight: bold;
}

.no-bg-div {
  margin: 10px auto;
  width: var(--div-width);
  max-width: var(--div-width);
  min-width: var(--div-width);
  padding-left: 20px;
  padding-right: 20px;
  overflow: hidden;
}

.underlined_p {
  text-decoration: underline solid #e3ec63;
  text-decoration-thickness: 2px;
  text-underline-offset: 7px;
}

.img-div {
  width: 22px;
  height: 36px;
  position: absolute;
  -webkit-mask:url('./files/icon.png') center/contain;
          mask:url('./files/icon.png') center/contain;
}

img {
  width: 28px;
  height: 45px;
}

.arrow-img {
  width: 12px;
  height: 18px;
}


.my-moment-map-img {
  width: 295px;
  height: 233px;
  margin-left: -20px;
}

@media screen and (max-width: 375px) {
  .content-div {
    width: var(--sm-mobile-div-width);
    max-width: var(--sm-mobile-div-width);
    min-width: var(--sm-mobile-div-width);
  }

  .invalid-input-div {
    width: var(--sm-mobile-div-width);
    max-width: var(--sm-mobile-div-width);
    min-width: var(--sm-mobile-div-width);
  }

  .footer-div {
    width: 335px;
    margin-left: 5px;
  }

  .image-div {
    width: var(--sm-mobile-div-width);
    height: var(--sm-mobile-image-height);
  }

  .no-bg-div {
    width: var(--sm-mobile-div-width);
    max-width: var(--sm-mobile-div-width);
    min-width: var(--sm-mobile-div-width);
  }
}

@media screen and (max-width: 720px) and (min-width: 376px) {
  .content-div {
    width: var(--mobile-div-width);
    max-width: var(--mobile-div-width);
    min-width: var(--mobile-div-width);
  }

  .invalid-input-div {
    width: var(--mobile-div-width);
    max-width: var(--mobile-div-width);
    min-width: var(--mobile-div-width);
  }

  .footer-div {
    width: 380px;
    margin-left: 5px;
  }

  .image-div {
    width: var(--mobile-div-width);
    height: var(--mobile-image-height);
  }

  .no-bg-div {
    width: var(--mobile-div-width);
    max-width: var(--mobile-div-width);
    min-width: var(--mobile-div-width);
  }
}